.sidenav {
    top: 65px;
    width: 250px;
}

.content {
    margin-left: 250px;
}


.project_list {
    margin: 1em;
}

span.role {
    float: none;
}

.logo-icon {
    font-size: 4.5rem !important;
 }

 @media only screen and (max-width : 992px) {
    .content {
        margin-left: 0;
    }

    i.logo-icon {
        font-size: 0 !important;
    }
}